*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    width: auto;
    background-color: #1d1d1d;
    padding: 0px 50px;
}

.brand-logo a img {
    width: 90px;
}

.btn-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    width: 100px;
    background-color: #36454f;
    border: #1d1d1d solid 1px;
    border-radius: 5px;
    gap: 5px;
}

.btn-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.green-circle {
z-index: 0;
background-color: aquamarine;
width: 0.6rem;
height: 0.6rem;
border-radius: 50%;
}

.menu-links {
    width: 480px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: rgba(13, 13, 13, 0.85);
    border: #1d1d1d solid 2px;
    border-radius: 10px;
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.menu-links a {
    text-decoration: none;
    color: white;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.hero-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-text h1 {
    font-size: 50px;
    color: rgb(204, 162, 85);
}

.hero-text p {
    font-size: 18px;
    padding-top: 20px;
}

.btn-primary {
    padding: 16px 24px;
    border: rgba(97, 207, 128) solid 2px;
    border-radius: 5px;
    background-color: rgba(97, 207, 128, 0.7);
    color: white;
}

.btn-secondary {
    padding: 16px 24px;
    background-color: #36454f;
    border: rgb(75, 75, 75) solid 2px;
    border-radius: 5px;
    color: white;
}

.tag img {
    width: 200px;
    border-radius: 5px;
}

.hero-btn_container {
    display: flex;
    gap: 30px;
}

.tag-list {
    width: 30rem;
    max-width: 90vw;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 0.2rem 0;
    position: relative;
    padding: 0.5rem 0;
  }
  
  .loop-slider {
    .inner {
      display: flex;
      width: fit-content;
      animation-name: loop;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: var(--direction);
      animation-duration: var(--duration);
      overflow: hidden;
    }
  }
  
  .tag {
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #e2e8f0;
    font-size: 0.9rem;
    border-radius: 0.4rem;
    padding: 0.5rem 0.5rem;
    margin-right: 0.2rem;
    }
  
  
  @keyframes loop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .article-sol_title {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100vw;
  }

  .article-sol_title p{
    font-size: 12px;
  }

  .article-sol_title h1 {
    color: rgb(204, 162, 85);
  }

.section-text {
    display: flex;
    justify-content: space-between;
    align-items: top;
    width: 100vw;
    gap: 20px;
    color: white;
}

.section-one_left {
    padding: 0 50px 0 50px;
    flex-basis: 50%;
}

.section-two_right {
    display: flex;
    gap: 30px;
    padding-right: 50px;
    flex-basis: 50%;
}

.section-two_right .section-two_subsection {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-two_subsection p {
    font-size: 14px;
}

.card-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    gap: 20px;
    width: 100vw;
}

.card {
    background-color: #1d1d1d;
    color: white;
    width: 306px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: #36454f solid 2px;
}

.card-image img{
    width: 120px;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-size-small {
    font-size: 12px;
}

.card-text h3 {
 font-size: 28px;
}

.card-number {
    color: rgba(97, 207, 128);
    font-size: 10px;
}


.footer-logo img {
    width: 150px;
}

.footer-logo {

    position: relative;
    left: 165px;
    padding: 50px 0px;
}

.footer-nav {
    display: flex;
    justify-content:space-evenly;
    gap: 200px
}

.footer-address {
    color: white;
    width: 200px;
    font-size: 14px;
}

.footer-nav_links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-nav_links a{
    text-decoration: none;
    color: white;
}

.footer-sm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sm-logo {
    display: flex;
    gap: 80px;
}

.vertical-line {
    background-color: green;
    border: rgb(154, 154, 154) solid 1px;
    border-radius: 5px;
    margin: 30px 100px;
}

.copyright {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-img img{
    padding-top: 50px;
    width: 100vw;
}